
const URL_GITLAB = 'http://gitlab.example.com/api/v3/projects/:id/issues';

const URL_GLPI = 'http://glpi.example.com/front/:type.form.php?id=:id';

const PK = '';

const PROJECT = 1;

const MILESTONES = [
    {
        id: '1',
        title: 'Default',
        selected: true,
        hide: false
    }
];
