
const URL = 'http://gitlab.example.com/api/v3/projects/:id/issues';

const PK = '';

const PROJECT = 1;

const MILESTONES = [
    {
        id: '1',
        title: 'Default',
        selected: true,
        hide: false
    }
];
