
const URL_GITLAB = 'http://gitlab.example.com/api/v3/projects/:id/:resources';

const URL_GLPI = 'http://glpi.example.com/front/:type.form.php?id=:id';

const PK = 'private-key'; //pegar no gitlab

const PROJECT = 1; //Projeto

const MILESTONES = []; //vai pegar do Gitlab usando sua PK
